SUPABASE_URL=https://cmeqjsrwilnyojxhxrxk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtZXFqc3J3aWxueW9qeGh4cnhrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Nzg4MjYsImV4cCI6MjA4NTQ1NDgyNn0.fvB_EpTTjkIP-ub19LoAhhr13HSqQvH2Nlsv-pg6KFo
SUPABASE_JWT_SECRET=
DATABASE_URL=postgresql://postgres.cmeqjsrwilnyojxhxrxk:ym82oq6r7eHUctWv@aws-0-us-west-2.pooler.supabase.com:5432/postgres